body {
    background-color: black;
    margin: 0; 
    font-family: 'Karla';
}

p, h1, h2, h3, h4, h5, h6{
    font-family: 'Karla';
}

.center {
    margin: auto;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.link{
    color: #838996;
    text-shadow: 1px 1px black;
}


.nav {
    overflow: hidden;
    background-color:black;
}
  
.nav a {
    float: left;
    top: 50%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: black; 
    border-radius: 5px;
}
  
.nav a:hover {
    background-color: #ffcc33;
    color: black;
}
  
.nav a.active {
    background-color: #ffcc33;
    color: black;
}
  
.nav .icon {
    top: 50%;
    display: none;
    color: #ffcc33;
}
  
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.content{
    margin: 2%; 
}
@media (min-width: 620px){
    .content{
        column-count: 1; 
        column-gap: 20px; 
    }

    section {
        break-inside: avoid; 
    }
}

@media (min-width: 960px){
    .content{
        column-count: 2; 
    }
}

section{
    border-radius: 25px;
    overflow: hidden; 
    margin-bottom: 20px; 
    padding: 5px;
}
.gold{
    background-color: #ffcc33;
}
.silver{
    background-color: silver;
}
.black{
    background-color: black;
}


.title{
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px silver; 
}

.subtitle{
    font-size: 1em;
    color: black;
    text-shadow: 1px 1px silver; 
}

.section-text{
    font-size: 1em;
    color: black; 
    text-shadow: 0.5px 0.5px silver;
}

.infograph{
    display: block; 
    padding: 1px; 
}

.infograph iframe{
    padding: 12px;
    border-color: #ffcc33;
    border-radius: 25px;
}

.circle-icon{
    background: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: left;
    top: 10%; 
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #ffcc33;
    text-align: center;
}


#user, #courses, #favloc, #faq, #loc {
    border-collapse: collapse;
    width: 100%;
    padding: 10px; 
  }
  
#user td, #user th, #courses td, #courses th, #favloc td, #favloc th, #faq td, #faq th, #loc td, #loc th {
    border: 2px solid silver;
    background-color: black;
    color: white;
    padding: 8px;
  }
  
#user tr:nth-child(even){
    color: black;
    background-color: gray;
}
#courses tr:nth-child(even){
    color: black;
    background-color: gray;
}
#favloc tr:nth-child(even){
    color: black;
    background-color: gray;
}
#faq tr:nth-child(even){
    color: black;
    background-color: gray;
}
#loc tr:nth-child(even){
    color: black;
    background-color: gray;
}
  
#user tr:hover, #courses tr:hover, #favloc tr:hover, #faq tr:hover, #loc tr:hover{
    background-color: white;
}
  
#user th, #courses th, #favloc th, #faq th, #loc th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: silver;
    color: black;
    border: 2px solid silver; 
  }


  * {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: rgba(255, 217, 0, 0.521);
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: silver;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 25%;
  margin: 5px; 
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: gold;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: gray;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid gold;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid gold;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: silver;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}